
<div class = "contenedor">


<div class="container-all">
    <input type = "radio" id = "1" name = "image-slide" hidden/>
    <input type = "radio" id = "2" name = "image-slide" hidden/>
    <input type = "radio" id = "3" name = "image-slide" hidden/>

    <div class="slide">
        <div class="item-slide">
            <img src = "../../../assets/1.jpg">
        </div>
        <div class="item-slide">
            <img src = "../../../assets/2.jpg">
        </div>
        <div class="item-slide">
            <img src = "../../../assets/3.jpg">
        </div>
    </div>

    <div class="pagination">
        <label  class="pagination-item" for="1">
            <img src = "../../../assets/1.jpg">
        </label>
        <label class="pagination-item"  for="2">
            <img src = "../../../assets/2.jpg">
        </label>
        <label  class="pagination-item" for="3">
            <img src = "../../../assets/3.jpg">
        </label>
    </div>
</div>
</div>

<div class = "categorias">
    
    <h1>Categorías</h1>
    <div class="horizontal_slider">
        
        <div class="slider_container">
            <div class="item" *ngFor="let categoria of Categorias; let iControl=index">
                <img src="data:image/png;base64,{{categoria.imagen}}">
            </div>
        </div>
    </div>
    </div>
    <h1 class = "titulo-productos">Productos</h1>
<div class = "productos">

    <div class = "contenedorProductos">
   
    <div class="cardProductos" *ngFor="let producto of Productos; let iControl=index" routerLink="/detalle-producto/{{producto.idProducto}}">
        <div class="imgBx">
            <img src="data:image/png;base64,{{producto.foto}}">
        </div>
            <div class="content">
                <div class="productName">
                    <h3>{{producto.nombre}}</h3>
                </div>
                <div class="price_rating">
                    <h2><span>Última oferta: </span>$ {{producto.precioActual}}</h2>
                </div>
             
            </div>
       
    </div>

    
</div>
</div>


<div class = "informacionSubastas">
    <div class = "imagenSubastas">
        <img src ="../../../assets/subastas.jpg">
    </div>
    <div class = "infoSubastas">
        <h4>¿Cómo funcionan las subastas en la plataforma?</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit eius laboriosam eum consequuntur. Molestias quod voluptatum animi hic? Repudiandae blanditiis earum eius, minima quae provident error. Quaerat neque sed velit.</p>
        <a>Conocer más</a>
    </div>
</div>

<div class="contenedor-infoUso">
<div class ="informacionUso">
    <div class = "infoOferta">
        <h4>¡Empieza a ofertar por los productos que desees!</h4>
        <p>Regístrate ahora mismo y empieza a encontrar objetos que sean de tu agrado, conoce más información sobre cada uno de ellos y haz una oferta para obtenerlo</p>
        <a>Registrarme ahora mismo</a>
    </div>
    <div class = "imagenUso">
        <img src ="../../../assets/2422612.png">
    </div>
</div>
</div>

<div class = "informacionEntrega">
    <div class = "imagenEntrega">
        <img src ="../../../assets/o-que-e-produto-no-mix-de-marketing-1024x538.png">
    </div>
    <div class = "infoEntrega">
        <h4>Recibir/entregar productos</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit eius laboriosam eum consequuntur. Molestias quod voluptatum animi hic? Repudiandae blanditiis earum eius, minima quae provident error. Quaerat neque sed velit.</p>
        <a>Conocer más</a>
    </div>
</div>


<footer class = "pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <a href = "#">
                <img src = "../../../assets/logo.png">
            </a>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="box">
            <h2>SÍGUENOS</h2>
            <div class = "red-social">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
            </div>

        </div>
    </div>
    <div class="grupo-2">
        <smal>&copy; 2021<b>SubasYa!</b> - Todos los derechos reservados.</smal>
    </div>
</footer>