<p>Sujeto mostrala ya mismo</p>
<div class = "container">


<div class="card">
    <div class="card-header">
        Agregar categoría
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup] = "formularioDeCategorias" (ngSubmit)="enviarDatos()"> 
            <div class="mb-3">
              <label for="">Nombre: </label>
              <input required type="text"
                class="form-control" formControlName="nombre" name="" id="nombre"  placeholder="Escribe el nombre de la categoría">
            </div>

            <div class="mb-3">
                <label for="">Descripción: </label>
                <textarea
                  class="form-control" formControlName="descripcion" name="" id="descripcion" placeholder="Escribe la descripción de la categoría "></textarea>
              </div>

              <div class="mb-3">
                <label for="">Foto: </label>
                <input type = "file" accept="image/*" (change)="seleccionarArchivo($event)" formControlName = "imagen" name = "" id = "imagen">
              </div>

              <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary" routerLink="/listar-usuario">Cancelar</button>
            </div>
        </form>
    </div>
    
</div>

</div>
