
<div class = "container">

    <div class="card">
        <div class="card-header">
            Lista de categorías <a routerLink="/agregar-categoria/" class = "btn btn-info" role = "button"><i class="fas fa-plus"></i></a>
        </div>
        <div class="card-body text-center">
         <table class="table">
             <thead>
                 <tr>
                     <th>IMAGEN</th>
                     <th>CÓDIGO</th>
                     <th>NOMBRE</th>
                     <th>ACCIONES</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let categoria of Categorias; let iControl=index">
                    <td><img src="data:image/png;base64,{{categoria.imagen}}"></td>
                     <td>{{ categoria.idCategoria }}</td>
                     <td> {{categoria.nombre }} </td>
                     <td> <a routerLink="/editar-categoria/{{categoria.idCategoria}}" class = "btn btn-warning" role = "button"><i class="fas fa-pencil-alt"></i> </a> | 
                        <a name = "" id = "" (click)="borrarRegistro(categoria.idCategoria, iControl)" class = "btn btn-danger" role = "button"><i class="fas fa-trash-alt"></i></a></td>
                 </tr>
                 
             </tbody>
         </table>
        </div>
      </div>
    
    </div>