
<div class = "container">


    <div class="card">
        <div class="card-header">
            Editar categoría
        </div>
        <div class="card-body">
            <form ngNativeValidate [formGroup] = "formularioDeCategorias" (ngSubmit)="enviarDatos()"> 
                <div class="mb-3">
                  <label for="">Nombre: </label>
                  <input required type="text"
                    class="form-control" formControlName="nombre" name="" id="nombre"  placeholder="Escribe el nombre de la categoría">
                </div>
    
                <div class="mb-3">
                    <label for="">Descripción: </label>
                    <textarea
                      class="form-control" formControlName="descripcion" name="" id="descripcion" placeholder="Escribe la descripción de la categoría "></textarea>
                  </div>
    
                  <div class="mb-3">
                    <label for="">Foto: </label>
                    <input required type = "file" accept="image/*" (change)="seleccionarArchivo($event)" formControlName = "imagen" name = "" id = "imagen">
                    <img *ngIf="imagenPrevisualizacion" src="data:image/png;base64,{{imagenPrevisualizacion}}">
                  </div>
    
                  <div class="btn-group" role="group" aria-label="">
                    <button type="submit" class="btn btn-outline-primary">Modificar</button>
                    <button type="button" class="btn btn-outline-secondary" routerLink="/listar-usuario">Cancelar</button>
                </div>
            </form>
        </div>
        
    </div>
    
    </div>
    