<p>Sujeto mostrala ya mismo</p>
<div class = "container">


<div class="card">
    <div class="card-header">
        Editar envío
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup] = "formularioDeEnvios" (ngSubmit)="enviarDatos()"> 
            <div class="mb-3">
                <label for="">Oferta: </label>
                <input required type="text"
                  class="form-control" formControlName="idOferta" name="" id="idOferta"  placeholder="Escribe el nombre de la categoría">
              </div>
              <div class="mb-3">
                <label for="">Código postal: </label>
                <input required type="text"
                  class="form-control" formControlName="codigoPostal" name="" id="codigoPostal"  placeholder="Escribe el nombre de la categoría">
              </div>
            <div class="mb-3">
              <label for="">Barrio: </label>
              <input required type="text"
                class="form-control" formControlName="barrio" name="" id="barrio"  placeholder="Escribe el nombre de la categoría">
            </div>

            <div class="mb-3">
                <label for="">Ciudad: </label>
                <input required type="text"
                  class="form-control" formControlName="ciudad" name="" id="ciudad"  placeholder="Escribe el nombre de la categoría">
              </div>

              <div class="mb-3">
                <label for="">Dirección: </label>
                <input required type="text"
                  class="form-control" formControlName="direccion" name="" id="direccion"  placeholder="Escribe el nombre de la categoría">
              </div>

              <div class="mb-3">
                <label for="">Referencia: </label>
                <input required type="text"
                  class="form-control" formControlName="referencia" name="" id="referencia"  placeholder="Escribe el nombre de la categoría">
              </div>

              <div class="mb-3">
                <label for="">Latitud: </label>
                <input required type="text"
                  class="form-control" formControlName="latitud" name="" id="latitud"  placeholder="Escribe el nombre de la categoría">
              </div>

              <div class="mb-3">
                <label for="">Longitud: </label>
                <input required type="text"
                  class="form-control" formControlName="longitud" name="" id="longitud"  placeholder="Escribe el nombre de la categoría">
              </div>
        

              <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary" routerLink="/listar-usuario">Cancelar</button>
            </div>
        </form>
    </div>
    
</div>

</div>
