

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <i class="fab fa-artstation"></i>
              <a href="#" >
                SubasYa!
              </a>
          </li>
          <li>
            
            <i class="fas fa-users"></i>
            <a href="#" routerLink="listar-usuario">Apartado de usuarios</a>
          </li>
          <li>
            <i class="fas fa-window-restore"></i>
              <a href="#" routerLink= "listar-categoria">Apartado de categorías</a>
          </li>
          <li>
            <i class="fas fa-gift"></i>
              <a href="#"  routerLink= "listar-producto">Apartado de productos</a>
          </li>
          <li>
            <i class="fas fa-gavel"></i>
              <a href="#" routerLink= "listar-oferta">Apartado de ofertas</a>
          </li>
          <li>
            <i class="fas fa-truck"></i>
              <a href="#"  routerLink= "listar-envio">Apartado de envíos</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->




