

<div id="wrapper" >

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <i class="fab fa-artstation"></i>
              <a href="#" >
                SubasYa!
                
              </a>
          </li>
          <li *ngIf="admin">
            
            <i class="fas fa-users"></i>
            <a href="#" routerLink="listar-usuario">Apartado de usuarios</a>
          </li>
          <li *ngIf="admin">
            <i class="fas fa-window-restore"></i>
              <a href="#" routerLink= "listar-categoria">Apartado de categorías</a>
          </li>
          <li *ngIf="admin">
            <i class="fas fa-gift"></i>
              <a href="#"  routerLink= "listar-producto">Apartado de productos</a>
          </li>
          <li>
            <i class="fas fa-gavel"></i>
              <a href="#" routerLink= "listar-oferta">Mis ofertas</a>
          </li>
          <li *ngIf="admin">
            <i class="fas fa-truck"></i>
              <a href="#"  routerLink= "listar-envio">Apartado de envíos</a>
          </li>
          <li *ngIf = "!login" >
            <i class="fas fa-truck"></i>
              <a href="#"  routerLink= "ingresar">Iniciar Sesión</a>
          </li>
          <li *ngIf = "!login">
            <i class="fas fa-truck"></i>
              <a href="#"  routerLink= "registrar">Registrarse</a>
          </li>
         
      </ul>

      
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                <a *ngIf = "login" class="logout" (click)="logout()" class = "btn-outline-danger"><i class="fas fa-sign-out-alt"></i></a>
                <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->








