label{
    display:block;
}

.seleccionImagen{
    display:block;
}



img{
    padding-top: 1%;
    width: 10em;
    height: 8em;
    margin-left:auto;
    margin-right: auto;
}

.botones{
    margin-left: auto;
    margin-right: auto;
}

button{
    margin-right: 5%;
}