label{
    display:block;
}

.seleccionImagen{
    display:block;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: white;
    border: 1px solid lightgray;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}


img{
    padding-top: 1%;
    width: 10em;
    height: 8em;
    margin-left:auto;
    margin-right: auto;
}

.botones{
    margin-left: auto;
    margin-right: auto;
}

button{
    margin-right: 5%;
}