
    
<div class = "container listarUsuario">

    <div class="card">
        
        <div class="card-body text-center">
         <table class="table">
             <thead>
                 <tr>
                     <th class = "columna-imagen">IMAGEN</th>
                     <th>NOMBRE</th>
                     <th class = "columna-telefono">OFERTA</th>
          
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let oferta of Ofertas; let iControl=index">
                     <td class = "columna-imagen" *ngFor="let obj of Productos[iControl]"><img src="data:image/png;base64,{{obj.foto}}"></td>
                     <td *ngFor="let obj of Productos[iControl]"> {{obj.nombre}} </td>
                     <td class = "columna-telefono"> $ {{ oferta.precio }} </td>
    
                 </tr>
                 
             </tbody>
         </table>
        </div>
      </div>
    
    </div>
