
<div class = "container">

    <div class="card">
        
        <div class="card-body text-center">
         <table class="table">
             <thead>
                 <tr>
                     <th class = "codigo">CÓDIGO</th>
                     <th class = "barrio">BARRIO</th>
                     <th>CIUDAD</th>
                     <th>ACCIONES</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let envio of Envios; let iControl=index">
                     <td  class = "codigo">{{ envio.idEnvio }}</td>
                     <td class = "barrio"> {{ envio.barrio }} </td>
                     <td> {{ envio.ciudad }} </td>
                     <td> <a routerLink="/editar-envio/{{envio.idEnvio}}" class = "btn btn-outline-warning" role = "button"><i class="fas fa-pencil-alt"></i></a> 
                       
                 </tr>
                 
             </tbody>
         </table>
        </div>
      </div>
    
</div>