
<div class = "container">


  <div class="card" *ngIf="admin">
      <div class="card-header titulo-tarjeta" >
          Editar producto
          <div (click)="desplegable=!desplegable">
          <i class="fas fa-caret-down" *ngIf="!desplegable"></i>
          <i class="fas fa-caret-up" *ngIf="desplegable"></i>
        </div>
        

      </div>
      <div class = "contenedor-editar">
  
      <div class="card-body" *ngIf="desplegable">
          <form ngNativeValidate [formGroup] = "formularioDeProductos" (ngSubmit)="enviarDatos()"> 
              <div class="mb-3">
                <label for="">Nombre: </label>
                <input required type="text"
                  class="form-control" formControlName="nombre" name="" id="nombre"  placeholder="Escribe el nombre del producto">
              </div>
  
              <div class="mb-3">
                  <label for="">Marca: </label>
                  <input required type="text"
                    class="form-control" formControlName="marca" name="" id="marca" placeholder="Escribe la marca del producto">
                </div>
  
              <div class="mb-3">
                <label for="">Modelo: </label>
                <input required type="text"
                  class="form-control" formControlName="modelo" name="" id="modelo" aria-describedby="helpId" placeholder="Escribe el modelo del producto">
              </div>
  
              <div class="mb-3">
                  <label for="">Descripción: </label>
                  <input type="text"
                    class="form-control" formControlName="descripcion" name="" id="descripcion" aria-describedby="helpId" placeholder="Haz una descripción sobre el producto">
                </div>
              
              <div class="mb-3">
                <label for="">Categoría:</label>
                <select class="form-select" aria-label="Default select example" formControlName = "idCategoria" >
                  <option selected>Selecciona una categoría</option>
                  <option *ngFor="let categoria of Categorias; let iControl=index" value="{{categoria.idCategoria}}">{{categoria.nombre}}</option>
                </select>
              </div>
  
              <div class="mb-3">
                <label for="">Precio base: </label>
                <input required type="number"
                  class="form-control" formControlName="precioBase" name="" id="precioBase" aria-describedby="helpId" placeholder="Define el precio base por el cual los usuarios van a empezar a ofertar">
            </div>
            
          
              <div class="mb-3">
                  <label for="">Fecha y hora de finalización: </label>
                  <input required id="fechafinalizacion" type="datetime-local" value="{{fechafinalizacion}}" formControlName = "fechafinalizacion">
              </div>
  
  
              <div class="mb-3">
                <label for="">Foto:</label>
                <label class = "custom-file-upload">Cargar foto<input type = "file" accept="image/*" (change)="seleccionarArchivo($event)" formControlName = "foto" name = "" id = "foto"></label>
                <img *ngIf="imagenPrevisualizacion" src="data:image/png;base64,{{imagenPrevisualizacion}}">
              </div>
  
            
    
  
              <div class="btn-group" role="group" aria-label="">
                  <button type="submit" class="btn btn-outline-primary">Agregar</button>
                  <button type="button" class="btn btn-outline-secondary" routerLink="/listar-usuario">Cancelar</button>
                
              </div>
          </form>
      </div>
            
    </div>
      
  </div>


  <div class = "card-wrapper">
    <div class = "cardProducto">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src="data:image/png;base64,{{imagenPrevisualizacion}}" alt = "shoe image">
            <img src="data:image/png;base64,{{imagenPrevisualizacion}}" alt = "shoe image">
            <img src="data:image/png;base64,{{imagenPrevisualizacion}}" alt = "shoe image">
            <img src="data:image/png;base64,{{imagenPrevisualizacion}}" alt = "shoe image">
          </div>
        </div>
        <div class = "img-select">
          <div class = "img-item">
            <a href = "#" data-id = "1">
                <img src="data:image/png;base64,{{imagenPrevisualizacion}}" alt = "shoe image">
              
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "2">
                <img src="data:image/png;base64,{{imagenPrevisualizacion}}" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "3">
              <img src="data:image/png;base64,{{imagenPrevisualizacion}}" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "4">
              <img src="data:image/png;base64,{{imagenPrevisualizacion}}"alt = "shoe image">
            </a>
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
          
        <h2 class = "product-title">{{nombre}}</h2>
        <div class = "info-propietario" *ngFor="let usuarioProducto of UsuarioProducto">
            <h4 class = "titulo-info">Propietari@:</h4>
            <p>{{usuarioProducto.nombre}} {{usuarioProducto.apellido}}</p>
            <img class = "imagen-perfil" src="data:image/png;base64,{{usuarioProducto.foto}}" alt="Avatar">
            
        </div>
        <div class = "product-price">
          <p class = "last-price">Precio base: <span>${{precioBase}}</span></p>
          <p class = "new-price">Precio actual: <span>${{precioActual}}</span></p>
        </div>

        <div class = "product-detail">
          <h2>Sobre este producto: </h2>
          <p>{{descripcion}}</p>
          
          <ul>
            <li>Marca: <span>{{marca}}</span></li>
            <li>Modelo: <span>{{modelo}}</span></li>
            <li>Fecha de inicio: <span>{{fechainicio}}</span></li>
            <li>Fecha de finalización: <span>{{fechafinalizacion}}</span></li>
          </ul>
        </div>

        <div class = "purchase-info">
          <button type = "button" class = "btn">
            {{demo}}
          </button>

        </div>

        <div class = "social-links">
          <p>Compartir en: </p>
          <a href = "#">
            <i class = "fab fa-facebook-f"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-twitter"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-instagram"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-whatsapp"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-pinterest"></i>
          </a>
        </div>
       
      </div>
    </div>
  </div>


 <!-- <div class = "apartado-ofertantes">
    <h4>Ofertantes</h4>
    <div >
    <p ></p>
  </div>
    <div *ngIf="demoBoolean">
      <form ngNativeValidate [formGroup] = "formularioDeOfertas" (ngSubmit)="agregarOferta()" class = "ofertar"> 
      <input required type="number" class="form-control input-ofertar" formControlName="precio" name="" id="" aria-describedby="helpId" placeholder="Realiza una oferta">
      <button type="submit" class="btn btn-outline-info ">Ofertar</button>
    </form>
    </div>-->
    
    <table class="tabla" *ngFor="let oferta of Ofertas; let iControl=index;">
      <tbody>
        <tr>
          <td class = "imagen-subasta"><img src="../../../assets/subasta.png" class = "img-subastas"></td>
            <td class = "nombre-subasta"  *ngFor="let obj of Usuarios[iControl]">{{obj.nombre}} {{obj.apellido}}</td>
          <td>${{oferta.precio}}</td>
          <td *ngIf = "UsuarioMaximaOferta"> <a  *ngIf="iControl==0" name = "" id = "" routerLink="/agregar-envio/{{oferta.idOferta}}" class = "btn btn-outline-secondary" role = "button"><i class="fas fa-shipping-fast"></i></a></td>
        </tr>
      
       
      </tbody>
    </table>
  </div>
