
<div class = "container">


  <div class="card">
      <div class="card-header titulo-tarjeta">
          Editar producto
          <div (click)="desplegable=!desplegable">
          <i class="fas fa-caret-down" *ngIf="!desplegable"></i>
          <i class="fas fa-caret-up" *ngIf="desplegable"></i>
        </div>
        

      </div>
      <div class="card-body" *ngIf="desplegable">
          <form ngNativeValidate [formGroup] = "formularioDeProductos" (ngSubmit)="enviarDatos()"> 
              <div class="mb-3">
                <label for="">Nombre: </label>
                <input required type="text"
                  class="form-control" formControlName="nombre" name="" id="nombre"  placeholder="Escribe el nombre del producto">
              </div>
  
              <div class="mb-3">
                  <label for="">Marca: </label>
                  <input required type="text"
                    class="form-control" formControlName="marca" name="" id="marca" placeholder="Escribe la marca del producto">
                </div>
  
              <div class="mb-3">
                <label for="">Modelo: </label>
                <input required type="text"
                  class="form-control" formControlName="modelo" name="" id="modelo" aria-describedby="helpId" placeholder="Escribe el modelo del producto">
              </div>
  
              <div class="mb-3">
                  <label for="">Descripción: </label>
                  <input type="text"
                    class="form-control" formControlName="descripcion" name="" id="descripcion" aria-describedby="helpId" placeholder="Haz una descripción sobre el producto">
                </div>
              
              <div class="mb-3">
                <label for="">Categoría:</label>
                <select class="form-select" aria-label="Default select example" formControlName = "idCategoria" >
                  <option selected>Selecciona una categoría</option>
                  <option *ngFor="let categoria of Categorias; let iControl=index" value="{{categoria.idCategoria}}">{{categoria.nombre}}</option>
                </select>
              </div>
  
              <div class="mb-3">
                <label for="">Precio base: </label>
                <input required type="number"
                  class="form-control" formControlName="precioBase" name="" id="precioBase" aria-describedby="helpId" placeholder="Define el precio base por el cual los usuarios van a empezar a ofertar">
            </div>
            
          
              <div class="mb-3">
                  <label for="">Fecha y hora de finalización: </label>
                  <input required id="fechafinalizacion" type="datetime-local" value="{{fechafinalizacion}}" formControlName = "fechafinalizacion">
              </div>
  
  
              <div class="mb-3">
                <label for="">Foto:</label>
                <input required type = "file" accept="image/*" (change)="seleccionarArchivo($event)" formControlName = "foto" name = "" id = "foto">
                <img *ngIf="imagenPrevisualizacion" src="data:image/png;base64,{{imagenPrevisualizacion}}">
              </div>
  
            
    
  
              <div class="btn-group" role="group" aria-label="">
                  <button type="submit" class="btn btn-outline-primary">Agregar</button>
                  <button type="button" class="btn btn-outline-secondary" routerLink="/listar-usuario">Cancelar</button>
                
              </div>
          </form>
      </div>
      
  </div>

  <div class="apartado-ofertas">
    <div class = "informacion">
      <h4>{{nombre}}</h4>
      <p>{{descripcion}}</p>
      <h6>Precio actual: ${{precioActual}}</h6>
      <p>Especificaciones:</p>
      <ul>
        <li>
          Marca: {{marca}}
        </li>
        <li>
          Modelo: {{modelo}}
        </li>
        <li>
          Precio Base: ${{precioBase}}
        </li>
        <li>
          {{fechainicio}}
        </li>
        <li>
          {{fechafinalizacion}}
        </li>
      
      </ul>
      
      <span>
        {{demo}}
      </span>

      <div class = "info-propietario" *ngFor="let usuarioProducto of UsuarioProducto">
        <img class = "imagen-perfil" src="data:image/png;base64,{{usuarioProducto.foto}}" alt="Avatar">
        <p>{{usuarioProducto.nombre}}</p>
      </div>
     
      
    </div>
    <div class = "div-img-oferta">
      <img class = "img-oferta" *ngIf="imagenPrevisualizacion" src="data:image/png;base64,{{imagenPrevisualizacion}}">
      
    </div>
    
    
  </div>

  <div class = "apartado-ofertantes">
    <h4>Ofertantes</h4>
    <div >
    <p ></p>
  </div>
    <div *ngIf="demoBoolean">
      <form ngNativeValidate [formGroup] = "formularioDeOfertas" (ngSubmit)="agregarOferta()" class = "ofertar"> 
      <input required type="number" class="form-control" formControlName="precio" name="" id="" aria-describedby="helpId" placeholder="Realiza una oferta">
      <button type="submit" class="btn btn-outline-info">Ofertar</button>
    </form>
    </div>
    <table class="tabla" *ngFor="let oferta of Ofertas; let iControl=index;">
      <tbody>
        <tr>
          <td><img src="../../../assets/subasta.png" class = "img-subastas"></td>
            <td  *ngFor="let obj of Usuarios[iControl]">{{obj.nombre}} {{obj.apellido}}</td>
          <td>${{oferta.precio}}</td>
          <td> <a routerLink="/editar-oferta/{{oferta.idOferta}}" class = "btn btn-outline-warning" role = "button"><i class="fas fa-pencil-alt"></i> </a> | 
            <a name = "" id = "" (click)="borrarRegistro(oferta.idOferta, iControl)" class = "btn btn-outline-danger" role = "button"><i class="fas fa-trash-alt"></i></a> <a *ngIf="iControl==0"> | </a> <a  *ngIf="iControl==0" name = "" id = "" routerLink="/agregar-envio/{{oferta.idOferta}}" class = "btn btn-outline-secondary" role = "button"><i class="fas fa-shipping-fast"></i></a></td>
        </tr>
      
       
      </tbody>
    </table>
  </div>

 
  
  </div>