.apartado-producto{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.apartado-oferta{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.boton-paypal{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}